@import 'define';
@import 'reset';

.content{
    @extend %ma;
    width: 300px;
    height: 100px;
    background: #ccc;
}

.page-list{
    margin: 20px auto;
    @extend %tac;
    li{
        @extend %dib;
        margin-left: 10px;
        width: 28px;
        height: 28px;
        line-height: 26px;
        color: #646464;
        @extend %fwn;
        @extend %cp;
        background: transparent;
        border-radius: 14px;
        border: 1px solid #d1ced1;
        &:hover,&.active{
            @extend %cfff;
            background: #06af79;
            border-color: #06af79;
        }
        &.disabled{
            opacity: .7;
            @extend %cna;
        }
        &.first, &.last,&.prev, &.next, &.disabled{
            padding: 0 11px;
            width: auto;
        }
    }
}