@import "reset";
@import "define";

.lottery-box{
	@extend %pr;
	margin: 80px auto;
	width: 600px;
	height:400px;
	@extend %f14;
	@extend %c6;
	border-top: 1px solid #453c70;
	border-left:1px solid #453c70;
	@extend %borderbox;
	img{
		width: 198px;
		height: 96px;
	}
}

.lottery-unit{
	@extend %pa;
	width: 200px;
	height: 128px;
	border:1px solid #453c70;
	border-top:none;
	border-left:none;
	background-color: #15172b;
	@extend %borderbox;
	@extend %oh;
	&.lottery-unit-1{
		left: 0;
		top:0;
	}
	&.lottery-unit-2{
		left: 200px;
		top:0;
	}
	&.lottery-unit-3{
		left: 400px;
		top:0;
	}
	&.lottery-unit-4{
		left: 600px;
		top:0;
	}
	&.lottery-unit-5{
		left: 600px;
		top:128px;
	}

	&.lottery-unit-6{
		left: 600px;
		top:256px;
	}
	&.lottery-unit-7{
		left: 400px;
		top:256px;
	}
	&.lottery-unit-8{
		left: 200px;
		top:256px;
	}
	&.lottery-unit-9{
		left: 0;
		top:256px;
	}

	&.lottery-unit-10{
		left: 0;
		top: 128px;
	}
	
	&.cur{
		@include bgop(#666,.3);
		.lot-txt{
			@extend %cc;
			@include bgop(#232323,.3);
		}
	}
}


.lot-txt{
	@extend %db;
	height: 30px;
	line-height: 30px;
	@extend %tac;
	background: #232323;
}

.lottery-start{
	@extend %pa;
	left: 200px;
	top: 128px;
	width: 400px;
	height: 128px;;
	line-height: 128px;
	@extend %cp;
	font-size: 30px;
	@extend %fwb;
	@extend %cfff;
	@extend %tac;
	background: #a80000;
	&:hover{
		background: #dc0000;
	}
}
